body {
    font-family: Arial, sans-serif;
    background-color: #FFCDD2; /* Rosa claro */
    color: #3E2723; /* Marrom escuro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF7043; /* Laranja */
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

p {
    margin: 10px 0;
}
